.friends-item {
  margin: 0px 8px 0px 8px;
  font-weight: 500;
}

.friends-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-divider {
  background: #ccc;
  margin: 0px !important;
}

.friends-item-add-button {
  margin-left: 8px;
  margin-bottom: 12px;
  align-self: flex-end;
}